---
import Master from "@layouts/Master.astro";
---

<Master
	title="Isaac Pollack - Portfolio"
	description="My portfolio website, created using the Astro framework, TailwindCSS and a little bit of the ol' noggin.">
	<div
		class="bg-white dark:bg-slate-900 rounded-lg drop-shadow-xl p-5 md:p-14 mx-2">
		<div class="text-center">
			<h2
				class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl dark:text-white">
				Isaac <span class="text-orange-600">Pollack</span>
			</h2>
			<!-- TODO: Finish off -->
			<h3
				class="text-xl md:text-3xl mt-10 before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-gray-800 relative inline-block">
				<span class="relative text-white">Coming Soon</span>
			</h3>
		</div>
	</div>
</Master>
