---
import Master from "@layouts/Master.astro";
---

<Master
	title="Isaac Pollack - Uses"
	description="My chosen tools for every day use, whether that be for fun, or professionally.">
	<div class="flex items-center justify-center h-[80vh]">
		<div class="container">
			<div class="bg-white rounded-lg drop-shadow-2xl p-5 md:p-14 mx-2">
				<div class="text-center">
					<h2
						class="text-4xl tracking-tight leading-10 font-extrabold text-gray-900 sm:text-5xl sm:leading-none md:text-6xl">
						Isaac <span class="text-orange-600">Pollack</span>
					</h2>
					<h3
						class="text-xl md:text-3xl mt-10 before:block before:absolute before:-inset-1 before:-skew-y-3 before:bg-gray-800 relative inline-block">
						<span class="relative text-white">Coming Soon: Uses Page</span>
					</h3>
				</div>
			</div>
		</div>
	</div>
</Master>
