---
const Year = new Date().getFullYear();
---

<footer>
	<div class="svg-container">
		<object
			type="image/svg+xml"
			data="astro.svg"
			width="100%"
			height="100%"
			class="md:inline-block md:absolute top-0">
		</object>
	</div>
</footer>
