<footer class="footer footer-center text-center mt-5 bg-gray-100">
	<div class="text-slate-800/50 border-t border-slate-500/25">
		<p class="mt-3 pb-3">
			Built with Astro
			<svg
				class="inline"
				xmlns="http://www.w3.org/2000/svg"
				xmlns:xlink="http://www.w3.org/1999/xlink"
				width="24px"
				height="24px"
				viewBox="0 0 24 24"
				version="1.1">
				<defs>
					<linearGradient
						id="linear0"
						gradientUnits="userSpaceOnUse"
						x1="882.997"
						y1="27.1132"
						x2="638.955"
						y2="866.902"
						gradientTransform="matrix(0.01875,0,0,0.01875,0,0)">
						<stop
							offset="0"
							style="stop-color:rgb(0%,0%,7.843137%);stop-opacity:1;"></stop>
						<stop
							offset="1"
							style="stop-color:rgb(8.235294%,1.568627%,14.901961%);stop-opacity:1;"
						></stop>
					</linearGradient>
					<linearGradient
						id="linear1"
						gradientUnits="userSpaceOnUse"
						x1="1001.68"
						y1="652.45"
						x2="790.326"
						y2="1094.91"
						gradientTransform="matrix(0.01875,0,0,0.01875,0,0)">
						<stop
							offset="0"
							style="stop-color:rgb(100%,8.627451%,22.352941%);stop-opacity:1;"
						></stop>
						<stop
							offset="1"
							style="stop-color:rgb(100%,8.627451%,22.352941%);stop-opacity:0;"
						></stop>
					</linearGradient>
				</defs>
				<g id="surface1">
					<path
						style=" stroke:none;fill-rule:evenodd;fill:url(#linear0);"
						d="M 15.28125 1.773438 C 15.464844 2 15.558594 2.304688 15.742188 2.917969 L 19.804688 16.253906 C 18.300781 15.476562 16.671875 14.914062 14.949219 14.609375 L 12.304688 5.675781 C 12.261719 5.53125 12.128906 5.429688 11.976562 5.429688 C 11.824219 5.429688 11.6875 5.53125 11.644531 5.679688 L 9.035156 14.605469 C 7.304688 14.90625 5.664062 15.472656 4.15625 16.253906 L 8.238281 2.914062 C 8.425781 2.304688 8.515625 2 8.699219 1.773438 C 8.859375 1.574219 9.070312 1.417969 9.308594 1.324219 C 9.578125 1.214844 9.894531 1.214844 10.53125 1.214844 L 13.445312 1.214844 C 14.085938 1.214844 14.40625 1.214844 14.671875 1.324219 C 14.910156 1.417969 15.121094 1.574219 15.28125 1.773438 Z M 15.28125 1.773438 "
					></path>
					<path
						style=" stroke:none;fill-rule:evenodd;fill:rgb(100%,36.470588%,0.392157%);fill-opacity:1;"
						d="M 15.769531 16.890625 C 15.097656 17.460938 13.761719 17.851562 12.222656 17.851562 C 10.335938 17.851562 8.75 17.265625 8.332031 16.472656 C 8.179688 16.925781 8.148438 17.445312 8.148438 17.777344 C 8.148438 17.777344 8.050781 19.402344 9.179688 20.535156 C 9.179688 19.949219 9.65625 19.472656 10.246094 19.472656 C 11.25 19.472656 11.25 20.351562 11.25 21.0625 C 11.25 21.085938 11.25 21.105469 11.25 21.125 C 11.25 22.207031 11.910156 23.136719 12.851562 23.527344 C 12.710938 23.238281 12.632812 22.914062 12.632812 22.570312 C 12.632812 21.539062 13.238281 21.15625 13.941406 20.707031 C 14.503906 20.351562 15.125 19.957031 15.554688 19.164062 C 15.777344 18.753906 15.90625 18.277344 15.90625 17.777344 C 15.90625 17.46875 15.855469 17.167969 15.769531 16.890625 Z M 15.769531 16.890625 "
					></path>
					<path
						style=" stroke:none;fill-rule:evenodd;fill:url(#linear1);"
						d="M 15.769531 16.890625 C 15.097656 17.460938 13.761719 17.851562 12.222656 17.851562 C 10.335938 17.851562 8.75 17.265625 8.332031 16.472656 C 8.179688 16.925781 8.148438 17.445312 8.148438 17.777344 C 8.148438 17.777344 8.050781 19.402344 9.179688 20.535156 C 9.179688 19.949219 9.65625 19.472656 10.246094 19.472656 C 11.25 19.472656 11.25 20.351562 11.25 21.0625 C 11.25 21.085938 11.25 21.105469 11.25 21.125 C 11.25 22.207031 11.910156 23.136719 12.851562 23.527344 C 12.710938 23.238281 12.632812 22.914062 12.632812 22.570312 C 12.632812 21.539062 13.238281 21.15625 13.941406 20.707031 C 14.503906 20.351562 15.125 19.957031 15.554688 19.164062 C 15.777344 18.753906 15.90625 18.277344 15.90625 17.777344 C 15.90625 17.46875 15.855469 17.167969 15.769531 16.890625 Z M 15.769531 16.890625 "
					></path>
				</g>
			</svg>
		</p>
	</div>
</footer>
